body {
  background: url("image.png");
  background-color: orange; /*this your primary color*/
  background-size: cover;
  font-family: "Courier New", Courier, monospace;
}

.main-heading {
  background-color: yellow;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  color: black;
  z-index: 1;
  font-family: "Courier New", Courier, monospace;
}

.sub-heading {
  padding-top: 5px;
  background-color: black;
  border-radius: 15px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  width: 100px;
}

.col {
  margin-top: 20px;
}

.divprops {
  border-radius: 15px;
  background-color: white;
  padding: 15px;
}

.left-col {
  padding: 15px;
}

.right-col {
  padding: 15px;
}

.comment {
  color: gray;
}

samp {
  color: green;
}
